# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
venv/
.env

# Project specific
uploads/
extracted/
*.apk
temp/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Flask
instance/
.webassets-cache